// Navigation Styles here

nav {
    height: 60px;
    border-bottom: @border-style;
    padding-top: 1%;

    @media @mobile {
        height: initial;
    }

    .container {
        .displayFlex(space-between);
        height: 100%;

        @media @mobile {
            flex-direction: column;
            padding-bottom: 1%;
        }
    }

    .links {
        .displayFlex(flex-end, center);

        @media @mobile {
            .displayFlex(space-around, center);
        }
    }

    a {
        padding: 0 10%;
        white-space: nowrap;
        color: @link-bg;
        font-size: @nav-link-size;
        text-decoration: none;
    }
}
